@import "tailwindcss";

/* 기본 색상 변수 설정 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* 전체 배경 및 텍스트 컬러 설정 - 기존 레이아웃 영향 안 주게 */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
